[Unit]
Description=Launcher for staticipie.py static IP utility

[Service]
Type=simple
ExecStart=/home/pi/staticIPie/staticipie.py
Restart=no

[Install]
WantedBy=multi-user.target
